*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
}

.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 106px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.1s linear;
    background-color: #8350F2;
}

.sidebar:hover{
    width: 260px;
    transition: 0,5s;
}

.logo{
    height: 70px;
    padding: 16px;
}

.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li{
    padding: 1rem;
    margin: 18px 0;
    border-radius: 8px;
    transition: all 0.1s ease-in-out;
}


.menu li:hover,
.active{
    background-color: #c2a3ff;
}

.menu a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a:hover{
    color: #2d2d2d;
}

.menu a span{
    overflow: hidden;
}

.menu a i{
    font-size: 1.2rem;
}

/**/

.menu .logout form button{
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu .logout form button:hover{
    color: #2d2d2d;
}

.menu .logout form button span{
    overflow: hidden;
}

.menu .logout form button i{
    font-size: 1.2rem;
}

.home{
    position: absolute;
    bottom: 1;
    left: 0;
    width: 100%;
}

.boton-CS:hover{
    color: #2d2d2d !important;
}

.main-content{
    margin: 85px;
}

.navbar2{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar2 ul{
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.navbar2 ul li{
    list-style: none;
}

.navbar3{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 120px;
    height: 120px;
    margin-bottom: 1rem;
}

.parrafo-logo{
    color: #8350F2;
    margin-left: -10px;
    font-size: 40px;
}

.navbar3 ul{
    flex: 2;
    display: flex;
    justify-content:end;
    padding-left: 0;
}

.navbar3 ul li{
    list-style: none;
}

.form-control:focus {
    border-color: #8350F2 !important;
    box-shadow: 0 0 0 0.25rem rgba(131, 80, 242, 0.5) !important; 
}

.form-select:focus {
    border-color: #8350F2 !important;
    box-shadow: 0 0 0 0.25rem rgba(131, 80, 242, 0.5) !important;
}

.enlace-cards{
    text-decoration: none;
}

.badge-custom {
    background-color: #ffa500;
    color: #fff; /* Cambia el color del texto a blanco si es necesario */
}

.enlace-cards .card {
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    border: 2px solid #8350F2;
}

.enlace-cards .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}



