nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 5px #000;
    background: #e6e6fa;
  }

  #chk1 {
    display: none;
  }

  i {
    cursor: pointer;
  }

  nav .img-logo {
    width: 85px;
    margin-left: 10px;
  }

  nav .logo {
    flex: 1;
    color: #8350f2;
    margin-left: 5px;
    font-size: 20px;
  }

  nav .nav-busqueda {
    flex: 1;
    position: relative;
  }

  .nav-busqueda input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 10px;
    color: #8350f2;
    font-size: 16px;
    /*text-align: center;*/
    padding-left: 10px;
  }

  .nav-busqueda button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background: #f2f2f2;
  }

  nav ul {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
  }

  nav ul li {
    list-style: none;
  }

  nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    font-size: 18px;
  }

  nav ul li a:hover {
    border-bottom: 2px solid #8350f2;
    color: #8350f2;
  }

  nav .menu {
    font-size: 2.5em;
    display: none;
  }

  i.fas.fa-shopping-cart,
  i.fa-solid.fa-user,
  i.fas.fa-sign-out-alt {
    color: #000;
  }

  .dropdown-menu {
    min-width: 220px;
    max-height: 185px;
    background-color: #8350f2;
    /** este color #D3D3D3 de fondo o el color lavanda */
    border: 2px solid #e6e6fa;
    display: none;
    position: absolute;
    top: calc(100% + 18px) !important;
    /* 10px por debajo del icono de usuario */
    left: 50% !important;
    /* Centrar horizontalmente */
    transform: translateX(-50%) !important;
    /* Alinear al centro */
  }

  .dropdown-menu a.dropdown-item {
    border: none;
    color: #fff;
  }

  .dropdown-menu a.dropdown-item:hover {
    background-color: #e6e6fa;
    color: #000;
  }

  .dropdown-menu button.dropdown-item {
    font-size: 18px;
    color: #fff;
  }

  .dropdown-menu button.dropdown-item:hover {
    background-color: red;
    color: white;
  }

  /* Estilo de la flecha */
  .dropdown-toggle::after {
    font-family: "Font Awesome 6 Solid";
    /* Usamos la versión gratuita de Font Awesome */
    transition: transform 0.3s ease;
    margin-left: 0.25rem;
  }

  .dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(180deg);
    /* Girar la flecha hacia arriba */
  }

  @media (max-width: 1400px) {
    .nav-busqueda button {
      position: absolute;
    }
    nav ul {
      position: fixed;
      top: 100px;
      right: -100%;
      background: #8350f2;
      height: calc(55vh - 100px);
      width: 100%;
      flex-direction: column;
      align-items: center;
      transition: right 0.3s linear;
      padding-left: 0;
    }
  
    nav ul li a {
      color: #000;
    }
  
    nav ul li a:hover {
      border-bottom: 2px solid #f2f2f2;
      color: #f2f2f2;
    }
  
    nav .menu {
      display: block;
      width: 75px;
      text-align: center;
    }
    #chk1:checked ~ ul {
      right: 0;
    }
  
    nav .img-logo {
      width: 80px;
    }
    
    .dropdown-menu {
      min-width: 220px; 
      max-height: 185px;
      background-color: #e6e6fa; /** este color #D3D3D3 de fondo o el color lavanda */
      border: 3px solid #8350f2;
      display: none;
      position: absolute;
      top: calc(100% + 18px) !important; /* 10px por debajo del icono de usuario */
      left: 50% !important; /* Centrar horizontalmente */
      transform: translateX(-50%) !important; /* Alinear al centro */
    }
    
    .dropdown-menu a.dropdown-item{
      border: none;
      color: #000;
    }
    
    .dropdown-menu a.dropdown-item:hover {
      background-color: #8350f2;
      color: #fff;
    }
    
    .dropdown-menu button.dropdown-item {
      font-size: 18px;
      color: #000;
    }
  }
  
  @media (max-width: 600px) {
    nav .logo {
      display: none;
    }
  
    nav ul {
      position: fixed;
      top: 100px;
      right: -100%;
      background: #8350f2;
      height: calc(80vh - 100px);
      width: 100%;
      flex-direction: column;
      align-items: center;
      transition: right 0.3s linear;
      padding-left: 0;
    }
  
    nav .nav-busqueda {
      max-width: 35%;
    }
  
    nav .img-logo {
      width: 75px;
    }
  }
  
  @media (max-width:321px){
  
    #mapa{
      display: none;
    }
  
    .img-logo{
      display: none;
    }
  
    .nav-busqueda input {
      width: 120%;
      height: 40px;
      border: none;
      outline: none;
      background: #f2f2f2;
      border-radius: 10px;
      color: #8350f2;
      font-size: 16px;
      /* text-align: center; */
      padding-left: 10px;
    }
  
    .nav-busqueda button {
      cursor: pointer;
      width: 0px;
      height: 40px;
      border-radius: 30px;
      border: none;
      position: absolute;
      top: 0;
      right: 0;
      /* transform: scale(0.9); */
      background: #f2f2f2;
    }
  }

  