*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper{
    position: relative;
    width: 600px;
    height: 1440px;
    background-color: transparent;
    border: 2px solid #8350f2;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.encabezado{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 150px;
    margin-top: -60px;
}

.form-box h2{
    font-size: 2em;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid gray;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: .2s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    color: #000;
    padding: 0 35px 0 5px;
}


.btn{
    width: 100%;
    height: 45px;
    background: #8350f2;
    color: white;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}

.btn:hover{
    background: #5916e8;
}

.registrarse{
    font-size: .9em;
    font-weight: 500;
    margin: 25px 0 10px;
}

.registrarse p a{
    color: #8350f2;
    text-decoration: none;
    font-weight: 600;
}

.registrarse p a:hover{
    text-decoration: underline;
    color: #5916e8;
}

.error-message {
    color: red;
    font-size: 14px;
}

::placeholder { color: #5f5f5f; }

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #e6e6fa inset !important;
    -webkit-text-fill-color: #333 !important;
}

input:-moz-autofill,
input:-moz-autofill:hover,
input:-moz-autofill:focus,
input:-moz-autofill:active {
    box-shadow: 0 0 0 30px #e6e6fa inset !important;
}

@media (max-width: 505px){
  .wrapper {
    position: relative;
    width: 500px;
    background-color: transparent;
    border: 0px solid #8350f2;
    border-radius: 0px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo{
    display: none;
  }
}
