*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*!NAVBAR*/
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 5px #000;
    background: #E6E6FA;
    z-index: 10000;
}

#chk1{
    display: none;
}

i{
    cursor: pointer;
}

nav .img-logo{
    width: 85px;
    margin-left: 10px;
}

nav .logo{
    flex: 1;
    color: #8350f2;
    margin-left: 5px;
    font-size: 20px;
}

nav .nav-busqueda{
    flex: 1;
    position: relative;
}

.nav-busqueda input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 10px;
    color: #8350F2;
    font-size: 16px;
    padding-left: 10px;
}

.nav-busqueda button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background: #f2f2f2;
}

nav ul{
   flex: 2;
   display: flex;
   justify-content: space-evenly; 
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    font-size: 18px;
}

nav ul li a:hover{
    border-bottom: 2px solid #8350F2;
    color: #8350F2;
}

nav ul li .desplegable{
    position: absolute;
    left: 0;
    width: 200px;
}

nav ul li .desplegable .desplegable-lista{
    list-style: none;
}

nav ul li .desplegable .desplegable-lista .desplegable-link{
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    font-size: 18px;
}

nav ul li .desplegable .desplegable-lista .desplegable-link:hover{
    border-bottom: 2px solid #8350F2;
    color: #8350F2;
}

nav .menu{
    font-size: 2.5em;
    display: none;
}

i.fas.fa-shopping-cart,
i.fa-solid.fa-user {
    color: #000; 
}

nav input:focus,
select:focus,
select,
input.form-control:focus {
  outline: 2px solid #8350f2;

  outline-width: 1 !important;

  box-shadow: none;

  -moz-box-shadow: none;

  -webkit-box-shadow: none;
}

/*!CHECKBOX DE LOS FILTROS*/
.check{
    margin-right: 3px;
    transform: scale(1.1);
    cursor: pointer;
}


label{
    font-weight: 800;
    color: #333;
    cursor: pointer;
}

.check:checked{
    accent-color: #ffa500;
}

.check:checked ~ label{
    color: #eb9901;
}

form{
    user-select: none;
}

.contenedor-check{
    margin-bottom: 5px;
}

.titulo-check{
    margin-bottom: 15px;
    color: #8350F2;
}

#filtroColumna{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; 
    border-radius: 1.2em; 
    padding: 22px;
    border: solid 2px #8350f2;
}

/*!SELECT DE LOS FILTROS*/
.select-menu{
    width: 240px;   
}

.select-menu .select-btn{
    display: flex;
    height: 40px;
    background: #fff;
    padding: 15px;
    font-size: 17px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.select-btn i{
    font-size: 18px;
    transition: 0.2s;
}

.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}


.select-menu .opciones{
    position: relative;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
}

.select-menu.active .opciones{
    display: block;
}

.opciones .opcion{
    display: flex;
    height: 40px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}

.opciones .opcion:hover{
    background: #af8aff;
}

.opcion i{
    font-size: 20px;
    margin-right: 12px;
}

.opcion .opcion-texto{
    font-size: 17px;
}

/*!BOTONES FILTROS*/
#contenedor-boton-filtro{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-bottom: 15px; 
    background-color: white; 
    border-radius: 1.2em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .15);
}

#toggleFiltrosBtn{
    color: #eb9901; 
    margin-left: 2px; 
    font-size: 18px; 
    font-weight: 800;
}

.boton1-filtro{
    border: none;
    background-color: green;
    color: white;
    padding: 8px 12px;
    border-radius: 7px;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
}

.boton1-filtro:hover{
    background-color: #1a9242;
    color: white;
}

.boton2-filtro{
    border: none;
    background-color: red;
    color: white;
    padding: 8px 12px;
    border-radius: 7px;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
}

.boton2-filtro:hover{
    background-color: #f84747;
    color: white;
}

/*!CARDS*/
.tarjeta-producto{
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    border-radius: 1.2em;
    overflow: hidden;
    background: #fff;
    text-align: center;
    transition: box-shadow 0.7s;
  }

  .tarjeta-producto:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, .4);
  }

  .tarjeta-producto a{
    text-decoration: none;
    color: rgb(36, 36, 36);
  }

  .contenedor-tarjeta{
    background: #fff;
    margin: 1.3em;
  }

  .img-producto{
    max-width: 70%;
    height: auto;
    border-radius: 1.2em 1.2em 0 0;
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
    margin-top: 10px;
  }

  .contenedor-info{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: .6em;
    background: #fff;
  }


  .estrellas{
    background: #fff;
  }

  .estrellas i{
    color: #ffa500;
    font-size: .8em;
    background: #fff;
  }

  .estrellas span, .descripcion p{
    font-size: 1.1em;
    color: rgb(36, 36, 36);
  }

  .precio{
    margin: 0;
    color: green;
    background: #fff;
    margin-top: 0.3em;
  }

  .precio b{
    background: #fff;
  }

  .nombre-producto{
    font-size: 1em;
    color: #8350f2;
    background: #fff;
    letter-spacing: normal;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
  }

  .nombre-producto:hover{
    color: #6f39e4;
  }

  .contenedor-boton{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 1.5em;
    background: #fff;
  }

  .boton-carrito{
    display: flex;
    align-items: center;
    background: #8350f2;
    padding: .5em;
    border-radius: .5em;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    color: #fff;
  }

  .boton-carrito:hover{
    background: #6f39e4;
  }

  .boton-carrito p{
    background: #ffffff00;
    margin: 0;
  }

  .icono-carrito{
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 2em;
    line-height: 1.92em;
    background: #8350f200;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icono-carrito i{
    background: #ffffff00;
  }

 /*!FOOTER*/
.li-footer{
    width: auto;
    list-style-type:none;
    padding: 7px;
    position: relative;
    margin-bottom: 0.5rem;
}

.link-footer{
    font-size: 17px;
    color: #fff;
    text-decoration: none;
}
.link-footer:hover{
    color: #8350f2;
}

.p-footer{
    font-size: 17px;
}

.bottom-bar{
    background: #1f1f1f;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.bottom-bar p{
    color: white;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}

#btnSubir {
    width: 50px;
    height: 50px;
    display: none;
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #8350F2;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
  }



@media(max-width:1400px){
    .nav-busqueda button{
        position: absolute;
    }
    nav ul{
        position: fixed;
        top: 100px;
        right: -100%;
        background: #8350F2;
        height: calc(70vh - 100px);
        width: 100%;
        flex-direction: column;
        align-items: center;
        transition: right 0.3s linear;
        padding-left: 0;
    }

    nav ul li a{
        color: #000;
    }

    nav ul li a:hover{
        border-bottom: 2px solid #f2f2f2;
        color: #f2f2f2;
    }

    i.fas.fa-shopping-cart:hover,
    i.fa-solid.fa-user:hover {
        color: #f2f2f2;
    }

    nav .menu{
        display: block;
        width: 100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
    }

    nav .img-logo{
        width: 80px;
    }

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-container img {
        max-width: 50%;
        height: auto;
    }
}

@media(max-width:1100px){
    .header i{
        display: initial;
    }

    .header{
        padding: 20px 10%;
    }

    .header .navegation{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgb(80, 80, 80);
        display: none;
    }

    .header .navegation ul{
        height: calc(100vh - 100px);
        width: 100%;
        flex-direction: column;
        align-items: center;
        transition: right 0.3s linear;
        padding: 0;
    }

    .header .navegation ul li{
        width: 100%;
        padding: 0;
    }

    .header .navegation ul li a{
        padding: 8px 30px 8px 10%;
    }

    .header .navegation ul li ul{
        position: relative;
        width: 100%;
        left: 0;
    }

    .header .navegation ul li ul li{
        background-color: rgb(63, 63, 63);
    }

    .header .navegation ul li ul li ul{
        position: relative;
        width: 100%;
        left: 0;
    }

    .custom-select{
        margin-top: 30px;
        align-items: center;
        width: 50%;
    }

    option{
        padding: 0px 2px 3px;
    }

    #toggle:checked ~ .navegation {
        display: block;
    }
}

@media(max-width:600px){
    nav .logo{
        display: none;
    }

    nav ul{
        position: fixed;
        top: 100px;
        right: -100%;
        background: #8350F2;
        height: calc(100vh - 100px);
        width: 100%;
        flex-direction: column;
        align-items: center;
        transition: right 0.3s linear;
        padding-left: 0;
    }

    nav .nav-busqueda{
        max-width: 35%;
    }

    nav .img-logo{
        width: 75px;
    }

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .logo-container img {
        max-width: 25%;
        height: auto;
    }

    #btnSubir {
        visibility: hidden;
     }
}

@media (max-width:321px){
    #mapa{
      display: none;
    }
}
